*{
  padding: 0;
  margin: 0;
}
/* In your App.css or a global CSS file */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the html and body fill the viewport */
  width: 100%;  /* Ensures the html and body fill the viewport */
}

#root {
  height: 100%; /* Ensures the React root div fills the viewport */
  width: 100%;
}

.slide-left-enter {
  transform: translateX(100%);
  opacity: 0;
}

.slide-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.slide-left-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.slide-right-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.slide-right-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms ease-in-out;
}

.slide-right-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-right-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}
